
@if (Inline)
{
    <div class="row mb-2 input-label @Class">
        <label class="col-sm-4 input-label-title">@(Label):</label>
        <div class="col-sm-8">
            @ChildContent
        </div>
    </div>
}
else if (Checkbox)
{
    <div class="form-check input-label @Class">
        @ChildContent
        <label class="form-check-label input-label-title">@Label</label>
        @if (!string.IsNullOrEmpty(Help))
        {
            <div>
                <small class="form-text text-muted input-label-help">@Help</small>
            </div>
        }
    </div>
    }
else
{
    <div class="form-group input-label @Class">
        <label class="input-label-title">@(Label):</label>
        @ChildContent
        @if (!string.IsNullOrEmpty(Help))
        {
            <small class="form-text text-muted input-label-help">@Help</small>
        }
    </div>
}


@code {

    [Parameter]
    public bool Inline { get; set; } = false;

    [Parameter]
    public bool Checkbox { get; set; } = false;

    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public string Help { get; set; }

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
