@using Oarw.Data.Tracking
@using System.Text.Json
@inject HttpClient Http
@inject NavigationManager Url;

<CascadingValue Value=this>
    @ChildContent
</CascadingValue>

@if (HasChanges() || IsPrintRequired() || Errors?.Any() == true)
{
    <div class="tracking-save-banner fixed-bottom p-1 text-white @(Errors?.Any() == true ? "bg-danger" : "bg-dark")">
    @if (Errors?.Any() == true)
    {
        @foreach(var error in Errors)
        {
            <strong class="me-auto">@error.Title</strong>
        } 
    }
    else if (NextAutoSave != null)
    {
        @($"Auto update in {Math.Max(0,((DateTime) NextAutoSave).Subtract(DateTime.Now).TotalSeconds).ToString("0")}s")
    }


    <button class="float-right btn btn-primary @((HasChanges())? "":"disabled")" @onclick="@(()=>ConfirmUpdate())"><i class="fas fa-circle-check" aria-hidden="true"></i>  Update</button>
    <button class="float-right mr-1 btn btn-secondary @((HasChanges() || IsPrintRequired())? "":"disabled")" @onclick="@(()=>CancelUpdate())"><i class="fas fa-times-circle" aria-hidden="true"></i> Cancel</button>
    
    @if(Errors?.Any() == true)
    {
        <button class="float-right btn btn-light mr-1" @onclick="@(()=>ClearAllErrors())"><i class="fas fa-circle-check" aria-hidden="true"></i>  OK</button>
    }

    @if (IsPrintRequired())
    {

        <a role="button" class="float-right btn btn-info mr-2" @onclick="@(() => StartPrint())"><i class="oi oi-print" aria-hidden="true"></i> Print</a>

        <select class="form-control float-right mr-2" style="width: 200px" @bind="Print.SelectedProfileId">
            @if (string.IsNullOrEmpty(Print.SelectedProfileId))
            {
                <option value="" disabled selected>--Select Print Profile --</option>
            }

            @foreach (var profile in Print.Profiles)
            {
                if (!string.IsNullOrEmpty(Print.SelectedProfileId) && profile.Id == Print.SelectedProfileId)
                {
                    <option selected>@profile.Name</option>
                }
                else
                {
                    <option>@profile.Name</option>
                }
            }
        </select>
    }


    </div>

    <!--Spacer to allow for floating confirmation bars at the bottom -->
    <div class="p-5" />
}
