@using Data.Tracking
@using System.Net.Http
@using Microsoft.JSInterop
@typeparam TItem

@inject HttpClient Http
@inject IJSRuntime JsRuntime;

<div class="modal fade" id="trackedEditor" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            @if (EditItem != null)
            {
                <div class="modal-header">

                    <h4 class="modal-title">@(Create ? "New " + Title : "Edit " + Title) Title</h4>
                    <button type="button" class="close" @onclick="@(() => CancelEdit())" data-dismiss="modal"><i class="oi oi-x" /></button>
                </div>
                <div class="modal-body">
                    <EditForm Model="EditItem">
                        @EditModal(EditItem)
                    </EditForm>
                </div>
            }
            <div class=" modal-footer">
                <button class="btn btn-default" @onclick="@(() => SaveEdit())" data-dismiss="modal">Save</button>
                <button class="btn btn-default" @onclick="@(() => CancelEdit())" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>

<CascadingValue Value="this">
    @ChildContent
</CascadingValue>


@code {




    
}
